html {
  font-size: 20px;
}


body {
  font-family: "Arial", "Meiryo", sans-serif;
  font-size: 1rem;
  text-align: center;
}

.google-fonts {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 2rem;
  letter-spacing: 1.2em;
  text-shadow: 2px 2px 4px gray;
  border-bottom:solid 3px rgb(115,115,114)  ;
}

.text-color {
  color: rgb(255, 192, 203);
}

.text-color_second {
  color: skyblue;
}

#parent p {
  font-weight: bold;
}